@page
@model VroomWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
        <p class="lead">Это главная страница вашего веб-приложения.</p>
        <hr class="my-4">
        <p>Нажмите на кнопку для дальнейших действий.</p>
        <a class="btn btn-primary btn-lg" href="/Registration" role="button">Зарегистрироваться</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Наши преимущества</h2>
            <ul>
                <li>Преимущество 1</li>
                <li>Преимущество 2</li>
                <li>Преимущество 3</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Последние новости</h2>
            <ul>
                <li>Новость 1</li>
                <li>Новость 2</li>
                <li>Новость 3</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Наши контакты</h2>
            <p>Email: info@example.com</p>
            <p>Телефон: +1234567890</p>
        </div>
    </div>
</div>